[Unit]
Description=KDE Material You Colors Service
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/kde-material-you-colors
# Setting PYTHONUNBUFFERED is necessary to see the output of this service in the journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
