[Desktop Entry]
Exec=kde-material-you-colors --stop
Icon=colors
Name=Stop KDE Material You Colors
Comment=Stop background process
Path=
Type=Application
